body {
    background-color: rgb(255, 255, 255);
    align-items: center;
}
h1 {
    font-family: 'Chelsea Market', cursive;
    color: black;
    text-align: center;
}
h2 {
    font-family: 'Chelsea Market', cursive;
    color: black;
    text-align: center;
}
h3 {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 300px;
    margin-right: 300px;
}
h4 {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 300px;
    margin-right: 300px;
}
hr {
    border: 1px solid black;
}
.main-contents {
    text-align: center;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 300px;
    margin-right: 300px;
}
li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    text-align: left;
}